{{template "base" .}}

{{define "content"}}
<div class="container">
            
    <div class="row">
        <div class="col-md-7 mx-auto">
            <h1>Make reservation</h1>
            <p><strong>Reservation Details</strong></p>

            {{$res := index .Data "reservation"}}
            <!-- <form action="" method="POST" class="needs-validation" novalidate> -->
            <form action="" method="POST" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="row">

                    <div class="col">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" 
                            class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" 
                            id="first_name" name="first_name" 
                            aria-describedby="firstNameHelp" 
                            required autocomplete="off"
                            value="{{$res.FirstName}}">
                            {{with .Form.Errors.Get "first_name" }}
                                <label for="" class="text-danger">{{.}}</label>
                            {{end}}
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" 
                            id="last_name" 
                            name="last_name" aria-describedby="lastNameHelp" 
                            required autocomplete="off"
                            value="{{$res.LastName}}">
                            {{with .Form.Errors.Get "last_name" }}
                                <label for="" class="text-danger">{{.}}</label>
                            {{end}}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
                            id="email" 
                            name="email" aria-describedby="emailHelp" 
                            required autocomplete="off"
                            value="{{$res.Email}}">
                            {{with .Form.Errors.Get "email" }}
                                <label for="" class="text-danger">{{.}}</label>
                            {{end}}
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" 
                            id="phone" 
                            name="phone" aria-describedby="phoneNumberHelp" 
                            required autocomplete="off"
                            value="{{$res.Phone}} ">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="start_date" class="form-label">Start Date</label>
                            <input type="text" class="form-control" 
                            id="start_date" 
                            name="start_date" aria-describedby="startDateHelp" 
                            required autocomplete="off">
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label for="end_date" class="form-label">End Date</label>
                            <input type="text" class="form-control" 
                            id="end_date" 
                            name="end_date" aria-describedby="endDateHelp" 
                            required autocomplete="off">
                        </div>
                    </div>
                </div>
                
                <input type="hidden" name="room_id" value="1">

                <button type="submit" class="btn btn-warning">Make reservation</button>
            </form>

        </div>
    </div>
</div>
{{end}}